header{
    color: rgb(70, 70, 70);
    background-color: rgb(70, 70, 70);
    height: 15vh;
}

#first-box{
    color: rgb(214, 210, 210);
    background-color: rgb(214, 210, 210);
    width: 150px;
    height: 700px;

}

#second-box{
    color: black;
    background-color: black;
    width: 1612px;
    position: fixed;
    top: 774px;
    height: 75px;
    right: 150px;
   
}

#third-box{
    position: fixed;
    top: 149px;
    right: 8px;
    color: rgb(214, 210, 210);
    background-color: rgb(214, 210, 210);
    width: 150px;
    height: 700px;
}